.container {
  min-height: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.text {
  font-size: 0.875rem; 
  font-weight: 500;
}

.variant_error {
  color: var(--color-danger);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.variant_success {
  color: var(--color-success);
}

.variant_warning {
  color: var(--color-warning);
}

.variant_info {
  color: var(--color-primary);
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: .5; }
}
