.flex {
    display: flex;
  }
  
  .dir_row { flex-direction: row; }
  .dir_col { flex-direction: column; }
  
  .justify_start { justify-content: flex-start; }
  .justify_end { justify-content: flex-end; }
  .justify_center { justify-content: center; }
  .justify_between { justify-content: space-between; }
  .justify_around { justify-content: space-around; }
  
  .align_start { align-items: flex-start; }
  .align_end { align-items: flex-end; }
  .align_center { align-items: center; }
  .align_stretch { align-items: stretch; }
  
  .wrap_no { flex-wrap: nowrap; }
  .wrap_yes { flex-wrap: wrap; }
  
  .flexContainer {
    gap: var(--flex-gap, 0rem);
  }
  